// fuente
$fuenteBase: 'Poppins', sans-serif;

// colores
$naranja1:#FF8906;
$naranja2:#ff8b06a6;
$naranja3:#ff8b0649;
$azul1: #443F72;
$azul2: #3080e248;

// media querys
$phone: 380px;
$mid: 480px;
$tablet: 768px;
$desktop: 1040px;